<form [formGroup]="trForm" (ngSubmit)="createTransaction()">
    <div class="form-group">
        <ui-input #autocomplete (autocompleteSelected)="autocompleteSelectedHandler($event)" [autocompleteDisplay]="autocompleteDisplay"
                  [autocompleteItems]="users" [ngClass]="{ 'error': submitted && f.name.errors }"
                  formControlName="name" placeholder="Search by name"></ui-input>
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <ui-input formControlName="amount" placeholder="Transfer amount"
                  type="number" [ngClass]="{ 'error': submitted && (f.amount.errors || trForm.errors) }"></ui-input>
        <div *ngIf="submitted && (f.amount.errors || trForm.errors)" class="invalid-feedback">
            <div *ngIf="f.amount.errors && (f.amount.errors.required || f.amount.errors.minlength)">Amount is required</div>
            <div *ngIf="!f.amount.errors && trForm.errors">Not enough balance</div>
        </div>
    </div>

    <div class="actions">
        <button type="button" class="btn btn-outline-danger" [disabled]="query"  routerLink="/transaction">Cancel</button>
        <button class="btn btn-primary" [disabled]="query">Transfer <i *ngIf="query" class="fa fa-spinner fa-spin"></i></button>
    </div>
</form>
