<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header text-center">Вход</div>
                <div class="card-body" [formGroup]="logForm">
                    <ui-input formControlName="email" placeholder="Email"></ui-input>
                    <ui-input formControlName="password" placeholder="Пароль" type="password"></ui-input>
                    <button class="btn btn-primary" (click)="login()">Войти</button>
                    <button class="btn btn-link mt-2" routerLink="/auth/register">Создать аккаунт</button>
                </div>
            </div>
        </div>
    </div>
</div>
