<div class="container">
    <div class="row">
        <div class="col-md-3 leftSide">
            <div class="card">
                <div>Доступно <span>PW</span></div>
                <div>25 500.52</div>
            </div>
            <div class="card">
                <img src="assets/icons/dollar.svg" alt="">
                <span>Перевести PW</span>
            </div>
        </div>
        <div class="col-md-6 rightSide">
            <div class="card">
                <div class="card-header text-center">
                    <img src="assets/icons/back-arrow.svg" alt="" routerLink="/transaction/history">
                    Последние транзакции
                </div>
                <div class="card-body">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
