<div class="container">
    <div class="row">
        <div class="col-md-3 leftSide">
            <div class="card">
                <div><span>PW</span> available</div>
                <div>{{ user.balance | seperator }}</div>
            </div>
            <div class="card" (click)="goToTransfer()">
                <img src="assets/icons/dollar.svg" alt="">
                <span>Transfer</span>
            </div>
        </div>
        <div class="col-md-6 rightSide">
            <div class="card">
                <div class="card-header text-center">
                    <img *ngIf="showArrow" src="assets/icons/back-arrow.svg" alt="" routerLink="/transaction">
                    {{ header }}
                </div>
                <div class="card-body">
                    <router-outlet (activate)="activated($event)"></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
